@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<ol>
    @foreach (var post in Model.Posts)
    {
    <li>
        <a asp-page="./Post" asp-route-id="@post.Slug">
            @post.Title
        </a>
    </li>
    }
</ol>
