@page
@model IndexModel
@{
    this.ViewData["Title"] = "Home";
}

<ul class="list-group list-group-flush">
    <partial name="_PostListPartial" for="Posts" />
</ul>

@if (Model.PagesCount > 0)
{
    <nav aria-label="Page navigation." class="pagination">
        <ul class="pagination">
            <li class="page-item">
                <a href="/posts.html?page=@Model.PreviousPage" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            @for (int i = 1; i <= Model.PagesCount; i++)
            {

                @if (Model.CurrentPage == i)
                {
                    <li class="page-item active">
                        <a href="/posts.html?page=@i" class="page-link">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a href="/posts.html?page=@i" class="page-link">@i</a>
                    </li>
                }
            }

            <li class="page-item">
                <a href="/posts.html?page=@Model.NextPage" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
}
