@model string[]

<div class="ui simple dropdown item">
    Categories <i class="dropdown icon"></i>
    <div class="menu">
        @foreach (var tag in Model)
        {
            <a class="item" asp-page="./Category" asp-route-name="@tag">@tag</a>
        }
    </div>
</div>