:root {
    --red: rgb(242, 94, 102);
    --white: rgb(255, 255, 255);
    --smoke: rgb(246, 245, 228);
}

.navbar {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light {
    background: var(--red);
}

.navbar-light .navbar-brand {
    padding: 0.25em;
    background: var(--smoke);
}

a.nav-link {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    color: var(--white) !important;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

a.nav-link:hover {
    color: var(--smoke) !important;
    border-color: var(--white);
}

.active {
    color: var(--red) !important;
}

a {
    color: var(--red);
}

a:hover,
a:focus {
    color: rgba(255, 48, 48, 0.7);
    text-decoration: none;
}

    a > h3 {
        font-weight: 800;
    }

h1,
h2 {
    font-weight: 800;
}

.logo {
    width: 95px;
    height: 95px;
}

.content {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

.clearfix {
    margin-top: 0.75em;
}

.clearfix a {
    margin-right: 0.55em;
}

.pagination {
    margin-top: 0.75em;
}

header {
    margin-bottom: 1.5em;
}

.about-me-text {
    font-size: 0.75em;
    font-style: italic;
    text-align: justify;
}

.category-list {
    margin-bottom: 1em;
}

.list-group-item.active {
    background: var(--red);
    color: var(--white);
    border-color: var(--red);
}

.list-group-item.active > h2 {
    color: var(--white);
}

.page-link {
    color: var(--red);
    background: var(--white);
}

.page-link:hover {
    color: var(--red);
}

.page-item.active .page-link {
    background: var(--red);
    border-color: var(--red);
}

.me {
    margin-bottom: 1em;
}

footer {
    text-align: center;
}

.nav-pills a.nav-link {
    padding: 0;
    color: var(--red) !important;
}