@page "{name}"
@model CategoryModel

@{
    this.ViewData["Title"] = this.Model.Tag;
}

<ul class="list-group category-list">
    <li class="list-group-item active">
        @if (this.Model.Count == 1)
        {
            <h2>@this.Model.Count Post tagged with @Model.Tag</h2>
        }
        else
        {
            <h2>@this.Model.Count Posts tagged with @Model.Tag</h2>
        }
    </li>

    <partial name="_PostListPartial" for="Posts" />
</ul>