@page "{name}"
@model CategoryModel
@{
    ViewData["Title"] = Model.Tag;

    int count = Model.Posts.Count;
}

<div class="ui raised segment">
    <div class="ui raised segments">
        <div class="ui blue inverted segment">
            @if (count == 1)
            {
                <h2>@count Post tagged with @Model.Tag</h2>
            }
            else
            {
                <h2>@count Posts tagged with @Model.Tag</h2>
            }
        </div>
        @foreach (var post in Model.Posts)
        {
            <div class="ui red padded raised segment">
                <a asp-page="./Post" asp-route-slug="@post.Slug">
                    <h3>@post.Title</h3>
                </a>
            </div>
        }
    </div>
</div>