@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section class="ui raised segment">
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>
                <a asp-page="./Post" asp-route-slug="@post.Slug">
                    @post.Title
                </a>
            </li>
        }
    </ul>
</section>