@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section class="ui raised segment">
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>
                <a asp-page="./Post" asp-route-slug="@post.Slug">
                    @post.Title
                </a>
            </li>
        }
    </ul>

    @if (Model.PagesCount > 0)
    {
    <div class="ui pagination menu">
        <a href="/?page=@Model.PreviousPage" class="item">
            <i class="chevron circle left icon"></i>
        </a>

        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            if (i == Model.CurrentPage)
            {
                <a href="/?page=@i" class="active item">@i</a>
            }
            else
            {
                <a href="/?page=@i" class="item">@i</a>
            }
        }

        <a href="/?page=@Model.NextPage" class="item">
            <i class="chevron circle right icon"></i>
        </a>
    </div>
    }
</section>