@page "{slug}"
@model PostModel
@{
    ViewData["Title"] = Model.Article.Title;
}

<article class="ui raised segment">
    <header class="ui raised segments">
        <div class="ui blue inverted segment">
            <h1>@Model.Article.Title</h1>
        </div>
        <div class="ui horizontal secondary segments">
            <div class="ui segment">
                <a asp-page="./Post" asp-route-slug="@Model.Article.Slug" class="ui left floated green button">
                    <i class="calendar outline icon"></i>
                    @Model.Article.Date.ToLocalTime().ToString("dd MM yyyy")
                </a>
                @foreach (var category in Model.Article.Categories)
                {
                    <a href="#" class="ui right floated blue button">
                        <i class="right chevron icon"></i> @category
                    </a>
                }
            </div>
        </div>
    </header>

    @Html.Raw(Model.Article.Content)
</article>