<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>@ViewData["Title"] - downr</title>

        <link rel="stylesheet" href="~/libs/semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>
        <nav class="ui borderless menu fixed">
            <div class="ui container">
                <a href="/" class="header item">
                    <img class="logo" src="~/images/logo.svg">
                    downr
                </a>
                <a asp-page="./Index" class="item">Publications</a>
                @await Component.InvokeAsync("TagCloud")
            </div>
        </nav>

        <div class="ui main grid container">
            <div class="twelve wide column">
                @RenderBody()
            </div>
            <div class="four wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="~/images/man.svg">
                    </div>
                    <div class="content">
                        <h4 class="header">Ivan Ivanov</h4>

                        <a class="twitter-follow-button" href="https://twitter.com/csyntaxdev">
                            Follow @@csyntaxdev
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            window.twttr = (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);

                t._e = [];
                t.ready = function (f) {
                    t._e.push(f);
                };

                return t;
            }(document, "script", "twitter-wjs"));
        </script>


        <!--<environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>-->

        <script src="~/libs/jquery/dist/jquery.slim.min.js"></script>
        <script src="~/libs/semantic/dist/semantic.min.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>